<% include ../partials/head %>

<% include ../partials/dialogs %>
<section class="sample-content">
    <h2>Download album(s)</h2>
    <p class="subhead mdl-color-text--grey-700">Download photos into your photo frame from your Google Photos albums.</p>
    <ul class="mdl-list" id="albums"></ul>
</section>



<% include ../partials/js %>
<script src="/js/albums.js"></script>

<% include ../partials/footer %>